body {
    position: relative;
    /*box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.9);*/
}

.blurFilter{
    filter: blur(20px);
}
pre {
    tab-size: 8;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.gallery-section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.position{
    position: absolute;
    top: 50px;
    z-index: 999;

}

.gallery-section img {
    width: 100%;
    height:250px;
    margin-bottom: 30px;
    /*box-shadow: 10px 10px 5px #888888;*/
    filter: brightness(50%);
}
.gallery-section img:hover{
    filter: brightness(100%);
}


.title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

.underline {
    width: 100px;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F7773A;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50px;
    background-color:#006666;
}

.name-cat{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:200px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
    }
}


