body{
    background: url('../images/grey.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

.box{
    height: 70px;
    background-color: #28965c;
    margin:20px;
}

.box2{
    background-color: #1e7a96;
}

.myHidden{
    transition-duration: 1s;
    filter:blur(15px);
    background: grey!important;
}

.red{
    background-color: indianred!important;

}

.navbar{
    background-color: #1a1f27;
    border:none!important;
}

.selected{
    background-color: #abb07b;
}


.col-xs-6{

    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 3px dashed lightgray;
}
.margin{
    margin: 50px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size:40px;
    font-weight: bold;
    color: #333333;
}

.col-xs-6:hover{
    cursor:pointer;
    transform: scale(1.03);
    opacity: 0.9;
}

.word{
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
