body{
    background: url('../images/grey.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    margin-top: 220px;

}

.oneRow li {
    background: #b0a6b8 none repeat scroll 0 0;
    border-bottom: 2px solid #d4d4d4;
    color: white;
    /*font-size: 18px;*/
    font-weight: bold;
    padding: 15px 24px;
    letter-spacing: 1px;
}
.oneRow li:hover{
    background: #eabbb8;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.word:hover{
    background: #dedede none repeat scroll 0 0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

#check{
    position: absolute;
    bottom:-473px;
    right: 0;
    width: 97px;
    height:50px;
    /*border: 7px dashed white;*/
    /*border-radius: 50%;*/
    margin-bottom:100px;
    background-color:  #3d3b3c;
    color: white;
    font-size:26px;
    font-family: 'Gloria Hallelujah', cursive;
    outline: none;
}

#check:hover{

    /*transform: rotate(20deg);*/
    background-color: #eabbb8;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.inputs{
    border: 2px solid grey;
    border-radius: 15px;
    outline: none;
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Gloria Hallelujah', cursive;

}

#myTable{
    position: relative;
}

.features-table {
    text-align:center;
    background-color: #3d3b3c;
    height:60px;
    color: lightgray;
    font-family: 'Gloria Hallelujah', cursive;



}

.features-table h1{
    margin-bottom: 0;
    font-size:25px;
    text-transform: uppercase;
}
.no-padding{
    padding:0;
}

.word, .TorF{
    height: 54px;
    background: #efefef;
    border-bottom: 2px solid #d4d4d4;
    border-right: 2px solid #d4d4d4;
    text-align:center;
    padding: 14px 21px;

}

.fa-check{
    color: darkgreen;
    font-size:30px;
}

.fa-times{
    color: darkred;
    font-size:30px;
}

#myBoard {
    display: none;
    position: relative;
    margin-top: -140px;
    /*margin-bottom: 50px;*/

    height: 390px;
    /*border: 5px dashed white;*/
    background: url('../images/board.jpg');
    background-position: bottom;
    -webkit-box-shadow: 10px 10px 51px -5px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 10px 10px 51px -5px rgba(0, 0, 0, 0.73);
    box-shadow: 10px 10px 51px -5px rgba(0, 0, 0, 0.73);
}

.navbar{
    background-color: #1a1f27;
    border:none!important;
}

.myWords{
    display:flex;
    flex-direction: column;
    position: absolute;
}

#myBoard span{
    color: lightgray;
    margin-left: 100px;
    font-size:20px;
    /*font-family: 'Indie Flower', cursive;*/
    /*font-family: 'Shadows Into Light', cursive;*/
    font-family: 'Gloria Hallelujah', cursive;
    /*font-family: 'Caveat', cursive;*/
}

.boxWord{
    padding-top: 30px;
}

.exercise{
    margin: 50px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size:40px;
    font-weight: bold;
    color: #333333;
}


#myButt{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top:100px;
    left:50%;
    /*transform:translateX(-50%);*/
    font-size:25px;
    z-index: 10;
    font-family: 'Gloria Hallelujah', cursive;
    outline:none;
    background-color: #312f30;
    color: white;
    padding:5px;
    cursor: pointer;
    font-weight: bold;
    border:4px dashed lightgray;
}

#myButt:hover{

    transform: rotate(-20deg);
    background-color: #eabbb8;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

