/* Removes the default 20px margin and creates some padding space for the indicators and controls */

body{
    background: url('../images/grey.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    margin-top:50px;
}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

.well{
    margin-top: 50px;
    position: relative;
    background-color: #333333;
    min-height: 520px;
    border: 5px solid lightblue;
    border-radius: 15px;
}



.exercise{
    margin: 20px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size:40px;
    font-weight: bold;
    color: #333333;
}

.right .fa{
    position: absolute;
    right:-100px;
    top:50%;
    color:lightblue;
    font-size:50px;
}

.red{
    position: absolute!important;
    z-index: 100!important;
    width:50px!important;
    height: 50px!important;
    background-color: red!important;
}

.myWordName{
    font-size:30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Joti One', cursive;
    background-color: #afd9ee;
    color: #333333;
    /*border: 5px solid #333333;*/
    padding: 10px 0;
    border-radius: 15px;
    margin: 0 70px;
}

/* Reposition the controls slightly */
.carousel-control {
    top:-35px;
    left: -12px;
}
.carousel-control.right {
    right: -12px;
    min-height: 500px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom:-20px!important;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    background-color: grey!important;
}
.carousel-indicators .active {
    background: #006666!important;
}

.myflex{
    display: flex!important;
}

.pos{
    margin-top:  30px;
}



.span3{



        z-index: 100;
/*position: fixed;*/
    display: flex!important;
    justify-content: center!important;

}

.probka{
    z-index: -100;

}

.span3 img{

    height: 250px;
    width:100%;
    background-color: white;
}

.thumbnail {
    margin-bottom: 0!important;
    width: 100%!important;
    background-color: #006666!important;
}


.navbar{
    background-color: #1a1f27;
    border:none!important;
}

.divBad{
    /*background-color: red;*/
    width: 92.5%;
    -webkit-box-shadow: inset 150px 150px 150px 150px rgba(255,18,65,0.6);
    -moz-box-shadow: inset 150px 150px 150px 150px rgba(255,18,65,0.6);
    box-shadow: inset 150px 150px 150px 150px rgba(255,18,65,0.6);
    height: 250px;
    position: absolute;
    z-index: 100;
}

.divGood{
    -webkit-box-shadow: inset 150px 150px 150px 150px rgba(9, 255, 5, 0.6);
    -moz-box-shadow: inset 150px 150px 150px 150px rgba(9, 255, 5,0.6);
    box-shadow: inset 150px 150px 150px 150px rgba(9, 255, 5,0.6);
    width: 92.5%;
    height: 250px;
    position: absolute;
    z-index: 100;
}