body
{

    color: #272e38;
    font-size: 28px;
    font-weight: 700;
    background: url('../images/zz.jpg');
    background-repeat: no-repeat;
    background-size:cover  ;


}

#box
{
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

#board
{
    width: 900px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
    min-height: 60px;
    font-family: 'Joti One', cursive;

}

#gibbet
{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alphabet
{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

.letter
{
    width: 50px;
    height: 50px;
    text-align:center;
    padding: 5px;
    margin: 5px;
    border: 2px solid white;
    float: left;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color:white;
    font-family: 'Joti One', cursive;
}

.letter:hover
{
    background-color: #222222;
    color: yellow;
    border: 3px solid yellow;
}

.reset
{
    position:absolute;
   bottom: 3%;
    right: 20%;
    color:black;
    cursor: pointer;
    font-size: 48px;
    font-family: 'Joti One', cursive;
}

.reset:hover
{
    color:#00C000;
}

.navbar{
    background-color: #1a1f27;
    border:none!important;
}



.nav li a{
    color: white!important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav li a:hover{
    color:lightgray!important;
}


#def{
    font-family: 'Sacramento', cursive!important;
    font-size: 30px;
    color: darkred;

}

#fontSize{
    /*text-align: right;*/
    color: black;
font-family: 'Montserrat', sans-serif;
    font-size:20px;
    text-transform: uppercase;
}

#mainBox{
   display:flex;
    justify-content: center;
    /*height: 370px;*/
    padding-top:30px;
    padding-bottom: 30px;
    background-color: #0f0f0f;
    border: 5px dashed white;
    /*position: absolute;*/
    /*top:35%;*/

}

#myPosi{
    margin:200px;
    color:yellow;
}