<link rel="stylesheet" href="../stylesheets/method.css"/>
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<div ng-controller="methodCtrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a ng-href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a ng-href='/' ng-click="showLogin()"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
                    <!--<li><a ng-href="/logout" target="_self"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
<div class="content">

    <div class="caption">

        <h1>computer networks</h1>

    </div>

    <nav class="main-nav">
        <ul>
            <li class="weather" ng-click='makeActive($event, "one")' ng-class="{ 'active': active=='one'}">
                <div class="icon fa fa-compress fa-4x"></div>
                <span class="myText">Porównaj wyrazy</span>
                <div ng-show="myVar">
                <button  ng-click="method1()" class="butt">GO!</button>
                </div>
            </li>

            <li class="gallery" ng-click='makeActive($event,"two")' ng-class="{ 'active': active=='two'}">
                <div class="icon fa fa-list-ul fa-4x"></div>
                <span class="myText">Dopasuj definicję</span>
                <div ng-show="myVar2">
                    <button ng-click="method2()" class="butt">GO!</button>
                </div>
            </li>

            <li class="history" ng-click='makeActive($event, "three")' ng-class="{ 'active': active=='three'}">
            <div style="height:30px">   <div class="icon fa fa-photo fa-2x"></div>   <div class="icon fa fa-photo fa-2x"></div></div>
            <div>   <div class="icon fa fa-photo fa-2x"></div>   <div class="icon fa fa-photo fa-2x"></div></div>
                <span class="myText">Wybierz obrazek</span>
                <div ng-show="myVar3">
                    <button ng-click="method3()" class="butt">GO!</button>
                </div>
            </li>

            <li class="likes" ng-click='makeActive($event, "four")' ng-class="{ 'active': active=='four'}">
                <div class="icon fa fa-volume-up fa-4x"></div>
                <span class="myText">Słuchaj i pisz</span>
                <div ng-show="myVar4">
                    <button ng-click="method4()" class="butt">GO!</button>
                </div>
            </li>

            <li class="comments" ng-click='makeActive($event, "five")' ng-class="{ 'active': active=='five'}">
                <div class="icon"><img src="../images/man.svg" style="width:110px;"  alt=""/></div>
                <span class="myText">Zagraj w wisielca</span>
                <div ng-show="myVar5">
                    <button ng-click="method5()" class="butt">GO!</button>
                </div>
            </li>
        </ul>
    </nav>
</div>
</div>

<script type="text/javascript" src="javascripts/method.js"></script>
