<link rel="stylesheet" href="../stylesheets/method.css"/>

<div ng-controller="methodCtrl">
<div class="method" id="met1"  ng-click="method1()">
    <img src="../images/image_bg.png" alt=""/>
    <span class="name-method">porównaj wyrazy</span>
</div>

<img id="idea" src="../images/idea2.jpg" alt=""/>

<div class="method" id="met2" ng-click="method2()" >
    <img src="../images/image_bg.png" alt=""/>
    <span class="name-method">dopasuj definicję</span>
</div>

<div class="method" id="met3" ng-click="method3()" >
    <img src="../images/image_bg.png" alt=""/>
    <span class="name-method">wybierz obrazek</span>
</div>

<div class="method" id="met4" ng-click="method4()" >
    <img src="../images/image_bg.png" alt=""/>
    <span class="name-method">słuchaj i pisz</span>
</div>

<div class="method" id="met5" ng-click="method5()" >
    <img src="../images/image_bg.png" alt=""/>
    <span class="name-method"></span>
</div>
</div>
