<link rel="stylesheet" href="../../stylesheets/met2.css"/>

<div class="container" ng-controller="met2Ctrl">
    <div class="features-table">
        <h1 class="col-sm-8"> Definition </h1>
        <h1 class="col-sm-3"> Word </h1>
        <h1 class="col-sm-1"> T/F </h1>
    </div>
    <div class="oneRow" ng-repeat="obj in array  track by $index">
        <li class="col-sm-8 no-padding">{{obj.def}}</li>
        <div class="col-sm-3 no-padding word">
            <input  ng-model="arrayWord[$index]" type="text"/>
        </div>
        <div  class="TorF col-sm-1"></div>
    </div>
    <button  ng-click="check()" >check</button>
</div>



